{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2 class="subtitle">My Hobbies</h2>
    <div class="flex-container">
            {% for hobby in hobbies %}
                <div class="hobby-card">
                    <img src="{{ hobby['img_path'] }}" alt="{{ hobby['img_alt_text'] }}"/>
                    <div class="description-container">
                        <p class="description">{{ hobby["description"] }}</p>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock%}