{% extends 'base.html' %}

{% block content %}
    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/satoshi.webp" alt="Satoshi's profile">
        </div>
        <h1>{{ title }} <br> Satoshi S.</h1>
    </div>

    <div id="about-me" class="about container">
        <h2>About Myself</h2>
        <p><span class="accent">S</span>atoshi is a full-stack developer, who is looking for opportunities to learn something new. He enjoys collaborating with other developers in open source ecosystems. Currently grinding Leetcode.</p>
    </div>

    <div id="work-experience" class="work container">
        <h2>Work Experiences</h2>
        <ul>
            {% for experience in work_experiences %}
                <li>
                    <strong>{{ experience["position"] }}</strong>
                    <br>{{ experience["company"] }}
                    <br><span class="year">{{ experience["date"] }}</span>
                    <ul>
                        {% for detail in experience["detail"] %}
                            <li>{{ detail }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

    
    <div id="hobbies" class="hobby container">
        <h2>My Hobbies</h2>
        <div class="flex-container">
            {% for hobby in hobbies %}
                <div class="hobby-card">
                    <img src="{{ hobby['img_path'] }}" alt="{{ hobby['img_alt_text'] }}"/>
                    <div class="description-container">
                        <p class="description">{{ hobby["description"] }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    

    <div id="travel-map" class="map container">
        <h2>Map of places I've been</h2>
        <div class="map-ifram-contianer">
            <iframe src="https://www.google.com/maps/d/embed?mid=1u4FXRh0NtMqyJlCkkrvBC0XDuuLpEB4&ehbc=2E312F" width="640" height="480" ></iframe>
        </div>
    </div>

    <div id="education" class="education container">
        <h2>Education</h2>
        <ul>
            {% for experience in education %}
                <li>
                    <strong>{{ experience["program"] }}</strong>
                    <br>{{ experience["institution"] }}
                    <br><span class="year">{{ experience["date"] }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

